In [2]:
from pathlib import Path
import pandas as pd

BASE = Path('.').resolve().joinpath('data/for_db')

In [3]:
csvs = [x for x in BASE.iterdir() if x.name.endswith('.csv')]
for csv in csvs:
    df = pd.read_csv(csv)
    print(csv.name)
    display(df.head(2))

ICS_DATABASE_TABLE.csv

   id     ukprn postcode                                ics_id uoa
0   0  10007144        E  1e6e075e-d5f5-421c-bb45-2708636b5190  21
1   1  10007151       LN  73be8e7c-907e-4e5b-8a8b-953b4d394c1b   6

ICS_TO_COUNTRY_LOOKUP_TABLE.csv

   ics_table_id country
0             0     ITA
1             0     SWE

ICS_TO_FUNDERS_LOOKUP_TABLE.csv

   ics_table_id funder
0             0     EU
1             0   ESRC

INSTITUTES.csv

      UKPRN                    VIEW_NAME  POSTCODE
0  10008640  University College Falmouth  TR11 4RH
1  10007774         University of Oxford   OX1 2JD

TOPICS_TABLE.csv

,topic_id,topic_name,topic_group,description,narrative
0,1,Customer,The,Participant billion two after poor writer food...,Appear thousand beyond guess term pay act kitc...
1,2,Head,Decide,Reason song interview ask small total short. G...,Building record page occur card guess mention ...

TOPIC_WEIGHTS_TABLE.csv

                                 ics_id  topic  probability
0  00012743-f42d-4f84-85cb-50340db92428    4.0     0.006400
1  00012743-f42d-4f84-85cb-50340db92428    3.0     0.006703

UOA_TABLE.csv

  uoa_id   name
0      1     Ok
1     10  Least