In [1]:
from pathlib import Path
import pandas as pd
import geopandas as gpd
import psycopg2
from sqlalchemy import create_engine

conn = psycopg2.connect(database='ics', user='oxford_ics_admin', password='Fp2mQC4&#7JZ', host='localhost', port='5432')
engine = create_engine('postgresql+psycopg2://oxford_ics_admin:Fp2mQC4&#7JZ@localhost:5432/ics')

In [16]:
def upload_to_db(df, table_name):
    df.to_sql(table_name, engine, if_exists='append', index=False)
    
def convert_col_to_int(df, col_name):
    df[col_name] = df[col_name].astype(int)
    return df
    
BASE = Path('.').resolve().joinpath('data/for_db')

In [15]:
def convert_to_int(row):
    num_str = row.uoa
    if isinstance(num_str, str):
        if num_str[-1].isalpha():
            return int(num_str[:-1])
    else:
        return int(num_str)
df = pd.read_csv(BASE.joinpath('ICS_DATABASE_TABLE.csv'))
df['uoa'] = df.apply(convert_to_int, axis=1)
df['uoa'] = df['uoa'].astype(int)
df = df[[x for x in df.columns if not x == 'unnamed:_0']]
df.to_csv(BASE.joinpath('ICS_DATABASE_TABLE.csv'), index=False)
df_uoa = pd.read_csv(BASE.joinpath("UOA_TABLE.csv"))
df_uoa['uoa_id'] = df_uoa['uoa_id'].astype(int)
df_uoa.to_csv(BASE.joinpath("UOA_TABLE.csv"))

In [17]:
# ICS
df = pd.read_csv(BASE.joinpath('ICS_DATABASE_TABLE.csv'))
df = df[['id', 'ukprn', 'postcode', 'ics_id', 'uoa']]
cols_to_convert = ["id", "ukprn"]
for col in cols_to_convert:
    df = convert_col_to_int(df, col)
upload_to_db(df, 'ics')

In [18]:
# ICSTableForDownload
df = pd.read_csv(BASE.joinpath('ICS_DATABASE_TABLE.csv'))
df = df.rename(columns={'covid-statement': 'covid_statement'})
df = df[[x for x in df.columns if x not in ['unnamed:_0', 'countries.1']]]
cols_to_convert = ["id", "ukprn"]
for col in cols_to_convert:
    df = convert_col_to_int(df, col)
upload_to_db(df, "ics_table_for_download")

In [19]:
#ICS_TO_COUNTRY_LOOKUP_TABLE.csv
df = pd.read_csv(BASE.joinpath("ICS_TO_COUNTRY_LOOKUP_TABLE.csv"))
if not 'id' in df.columns:
    df['id'] = df.index
cols_to_convert = ["id", "ics_table_id"]
for col in cols_to_convert:
    df = convert_col_to_int(df, col)
upload_to_db(df, 'countries')

In [20]:
#ICS_TO_FUNDERS_LOOKUP_TABLE.csv
df = pd.read_csv(BASE.joinpath("ICS_TO_FUNDERS_LOOKUP_TABLE.csv"))
if not 'id' in df.columns:
    df['id'] = df.index
cols_to_convert = ["id", "ics_table_id"]
for col in cols_to_convert:
    df = convert_col_to_int(df, col)
upload_to_db(df, 'funder')

In [21]:
#INSTITUTES.csv
df = pd.read_csv(BASE.joinpath('INSTITUTES.csv'))
if not 'id' in df.columns:
    df['id'] = df.index
cols_to_convert = ["id", "ukprn"]
for col in cols_to_convert:
    df = convert_col_to_int(df, col)
upload_to_db(df, "institution")

In [22]:
# TOPIC_WEIGHTS_TABLE.csv
df = pd.read_csv(BASE.joinpath("TOPIC_WEIGHTS_TABLE.csv"))
if 'id' not in df.columns:
    df['id'] = df.index
cols_to_convert = ["id", "topic_id"]
for col in cols_to_convert:
    df = convert_col_to_int(df, col)
upload_to_db(df, "topic_weights")

In [23]:
# TOPICS_TABLE.csv
df = pd.read_csv(BASE.joinpath("TOPICS_TABLE.csv"))
cols_to_convert = ["topic_id"]
for col in cols_to_convert:
    df = convert_col_to_int(df, col)
upload_to_db(df, "topics")

In [24]:
# UOA_TABLE.csv
df = pd.read_csv(BASE.joinpath("UOA_TABLE.csv"))
if 'id' not in df.columns:
    df['id'] = df.index
cols_to_convert = ['id', 'uoa_id']
for col in cols_to_convert:
    df = convert_col_to_int(df, 'id')
upload_to_db(df, "uoa")

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Unnamed: 0" of relation "uoa" does not exist
LINE 1: INSERT INTO uoa ("Unnamed: 0", id, uoa_id, name, assessment_...
                         ^

[SQL: INSERT INTO uoa ("Unnamed: 0", id, uoa_id, name, assessment_panel, assessment_group) VALUES (%(UnnamedC_0__0)s, %(id__0)s, %(uoa_id__0)s, %(name__0)s, %(assessment_panel__0)s, %(assessment_group__0)s), (%(UnnamedC_0__1)s, %(id__1)s, %(uoa_id__1)s, %( ... 3624 characters truncated ... _33)s, %(id__33)s, %(uoa_id__33)s, %(name__33)s, %(assessment_panel__33)s, %(assessment_group__33)s)]
[parameters: {'assessment_panel__0': 'A', 'name__0': 'Clinical Medicine', 'assessment_group__0': 'STEM', 'uoa_id__0': 1, 'UnnamedC_0__0': 0, 'id__0': 1, 'assessment_panel__1': 'A', 'name__1': 'Public Health, Health Services and Primary Care', 'assessment_group__1': 'STEM', 'uoa_id__1': 2, 'UnnamedC_0__1': 1, 'id__1': 2, 'assessment_panel__2': 'A', 'name__2': 'Allied Health Professions, Dentistry, Nursing and Pharmacy', 'assessment_group__2': 'STEM', 'uoa_id__2': 3, 'UnnamedC_0__2': 2, 'id__2': 3, 'assessment_panel__3': 'A', 'name__3': 'Psychology, Psychiatry and Neuroscience', 'assessment_group__3': 'SHAPE', 'uoa_id__3': 4, 'UnnamedC_0__3': 3, 'id__3': 4, 'assessment_panel__4': 'A', 'name__4': 'Biological Sciences', 'assessment_group__4': 'STEM', 'uoa_id__4': 5, 'UnnamedC_0__4': 4, 'id__4': 5, 'assessment_panel__5': 'A', 'name__5': 'Agriculture, Food and Veterinary Sciences', 'assessment_group__5': 'STEM', 'uoa_id__5': 6, 'UnnamedC_0__5': 5, 'id__5': 6, 'assessment_panel__6': 'B', 'name__6': 'Earth Systems and Environmental Sciences', 'assessment_group__6': 'STEM', 'uoa_id__6': 7, 'UnnamedC_0__6': 6, 'id__6': 7, 'assessment_panel__7': 'B', 'name__7': 'Chemistry', 'assessment_group__7': 'STEM', 'uoa_id__7': 8, 'UnnamedC_0__7': 7, 'id__7': 8, 'assessment_panel__8': 'B', 'name__8': 'Physics' ... 104 parameters truncated ... 'UnnamedC_0__25': 25, 'id__25': 26, 'assessment_panel__26': 'D', 'name__26': 'English Language and Literature', 'assessment_group__26': 'SHAPE', 'uoa_id__26': 27, 'UnnamedC_0__26': 26, 'id__26': 27, 'assessment_panel__27': 'D', 'name__27': 'History', 'assessment_group__27': 'SHAPE', 'uoa_id__27': 28, 'UnnamedC_0__27': 27, 'id__27': 28, 'assessment_panel__28': 'D', 'name__28': 'Classics', 'assessment_group__28': 'SHAPE', 'uoa_id__28': 29, 'UnnamedC_0__28': 28, 'id__28': 29, 'assessment_panel__29': 'D', 'name__29': 'Philosophy', 'assessment_group__29': 'SHAPE', 'uoa_id__29': 30, 'UnnamedC_0__29': 29, 'id__29': 30, 'assessment_panel__30': 'D', 'name__30': 'Theology and Religious Studies', 'assessment_group__30': 'SHAPE', 'uoa_id__30': 31, 'UnnamedC_0__30': 30, 'id__30': 31, 'assessment_panel__31': 'D', 'name__31': 'Art and Design: History, Practice and Theory', 'assessment_group__31': 'SHAPE', 'uoa_id__31': 32, 'UnnamedC_0__31': 31, 'id__31': 32, 'assessment_panel__32': 'D', 'name__32': 'Music, Drama, Dance, Performing Arts, Film and Screen Studies', 'assessment_group__32': 'SHAPE', 'uoa_id__32': 33, 'UnnamedC_0__32': 32, 'id__32': 33, 'assessment_panel__33': 'D', 'name__33': 'Communication, Cultural and Media Studies, Library and Information Management', 'assessment_group__33': 'SHAPE', 'uoa_id__33': 34, 'UnnamedC_0__33': 33, 'id__33': 34}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [14]:
# WEBSITE_TEXT.csv
# This is a table should have one row holding the placeholder for different fields of text to be shown on the frontend. Edit variables below to change these values
# data_for_table = {
#     "id": [0],
#     "all_topics_description":  ["This is the all topics description holder text"],
#     "about": ["This is the text describing project"],
#     "instructions": ["<h1> These are instructions </h1> 1. This is <b>instruction</b> ONE;\n 2. This is instruction TWO;\n 3. This is instruction N. \n"],
#     "team": ["Any text about the team. If this becomes more complex, it might be easier to hardcode"],
#     "contact": ["Please contact the admin at ics@dashboard.com"],
#     "label_info_box": ["Topic Description"],
#     "label_top_left_box": ["Funders"],
#     "label_bottom_left_box": ["UOA"],
#     "label_top_right_box": ["Institutions"],
#     "label_botton_right_box": ["Beneficiaries"],
# }
# df = pd.DataFrame(data_for_table)
# df.to_csv(BASE.joinpath("WEBSITE_TEXT.csv"), index=False)
df = pd.read_csv(BASE.joinpath("WEBSITE_TEXT.csv"))
if 'id' not in df.columns:
    df['id'] = df.index
df = convert_col_to_int(df, 'id')
upload_to_db(df, 'websitetext')