In [3]:
from pathlib import Path
import pandas as pd
import geopandas as gpd
import psycopg2
from sqlalchemy import create_engine

conn = psycopg2.connect(database='ics', user='oxford_ics_admin', password='Fp2mQC4&#7JZ', host='localhost', port='5432')
engine = create_engine('postgresql+psycopg2://oxford_ics_admin:Fp2mQC4&#7JZ@localhost:5432/ics')

In [8]:
def upload_to_db(df, table_name):
    df.to_sql(table_name, engine, if_exists='append', index=False)
    
def convert_col_to_int(df, col_name):
    df[col_name] = df[col_name].astype(int)
    return df
    
BASE = Path('.').resolve().joinpath('data/for_db')

In [3]:
# ICS
df = pd.read_csv(BASE.joinpath('ICS_DATABASE_TABLE.csv'))
cols_to_convert = ["id", "ukprn"]
for col in cols_to_convert:
    df = convert_col_to_int(df, col)
upload_to_db(df, 'ics')

In [4]:
#ICS_TO_COUNTRY_LOOKUP_TABLE.csv
df = pd.read_csv(BASE.joinpath("ICS_TO_COUNTRY_LOOKUP_TABLE.csv"))
df = convert_col_to_int(df, "ics_table_id")
upload_to_db(df, 'countries')

In [5]:
#ICS_TO_FUNDERS_LOOKUP_TABLE.csv
df = pd.read_csv(BASE.joinpath("ICS_TO_FUNDERS_LOOKUP_TABLE.csv"))
df = convert_col_to_int(df, "ics_table_id")
upload_to_db(df, 'funder')

In [8]:
#INSTITUTES.csv
df = pd.read_csv(BASE.joinpath('INSTITUTES.csv'))
df = convert_col_to_int(df, "ukprn")
upload_to_db(df, "institution")

   id     ukprn                         name  postcode
0   0  10008640  University College Falmouth  TR11 4RH
1   1  10007774         University of Oxford   OX1 2JD
2   2  10007768      University of Lancaster   LA1 4YW
3   3  10000571          Bath Spa University   BA2 9BN
4   4  10007814           Cardiff University  CF10 3AT

In [17]:
# TOPIC_WEIGHTS_TABLE.csv
df = pd.read_csv(BASE.joinpath("TOPIC_WEIGHTS_TABLE.csv"))
display(df.head(3))
df = convert_col_to_int(df, 'topic_id')
upload_to_db(df, "topic_weights")

   id                                ics_id  topic_id  probability
0   0  00012743-f42d-4f84-85cb-50340db92428         4     0.006400
1   1  00012743-f42d-4f84-85cb-50340db92428         3     0.006703
2   2  00012743-f42d-4f84-85cb-50340db92428        38     0.007564

In [18]:
# TOPICS_TABLE.csv
df = pd.read_csv(BASE.joinpath("TOPICS_TABLE.csv"))
df = convert_col_to_int(df, 'topic_id')
upload_to_db(df, "topics")

In [23]:
# UOA_TABLE.csv
df = pd.read_csv(BASE.joinpath("UOA_TABLE.csv"))
df = convert_col_to_int(df, 'id')
upload_to_db(df, "uoa")

In [12]:
# WEBSITE_TEXT.csv
# This is a table should have one row holding the placeholder for different fields of text to be shown on the frontend. Edit variables below to change these values
data_for_table = {
    "id": [0],
    "all_topics_description":  ["This is the all topics description holder text"],
    "about": ["This is the text describing project"],
    "instructions": ["<h1> These are instructions </h1> 1. This is <b>instruction</b> ONE;\n 2. This is instruction TWO;\n 3. This is instruction N. \n"],
    "team": ["Any text about the team. If this becomes more complex, it might be easier to hardcode"],
    "contact": ["Please contact the admin at ics@dashboard.com"],
    "label_info_box": ["Topic Description"],
    "label_top_left_box": ["Funders"],
    "label_bottom_left_box": ["UOA"],
    "label_top_right_box": ["Institutions"],
    "label_botton_right_box": ["Beneficiaries"],
}
df = pd.DataFrame(data_for_table)
df.to_csv(BASE.joinpath("WEBSITE_TEXT.csv"), index=False)
df = pd.read_csv(BASE.joinpath("WEBSITE_TEXT.csv"))
upload_to_db(df, 'websitetext')