In [1]:
import pandas as pd
df = pd.read_excel(r'C:\Users\dkerr\Documents\GISRede\OXFORD_UNI_WORK\ICS_Analysis\data\dashboard\nn3nn7\topics_groups.xlsx', sheet_name='Sheet1')
df

    group_id          topic_group  description narrative
0          1             The Arts          NaN      none
1          2  Cultural Engagement          NaN      none
2          3            Education          NaN      none
3          4         Productivity          NaN      none
4          5           Employment          NaN      none
5          6        Public Safety          NaN      none
6          7    Family & Identity          NaN      none
7          8      Peace & Justice          NaN      none
8          9   Health & Wellbeing          NaN      none
9         10   Sustainable Planet          NaN      none
10        11          Bric-a-Brac          NaN      none

In [2]:
for i in df.columns:
    if i == 'group_id':
        print(f'{i} = Column(Integer, primary_key=True)')
    else:
        print(f'{i} = Column(String)')

group_id = Column(Integer, primary_key=True)
topic_group = Column(String)
description = Column(String)
narrative = Column(String)

In [4]:
import numpy as np
np.all(df.narrative == None)

False