In [1]:
from pathlib import Path
import pandas as pd

BASE_CSVS = Path(r'C:\Users\dkerr\Documents\GISRede\OXFORD_UNI_WORK\ICS_Analysis\src\dashboard\api\app\data\db-data').resolve()
BASE_TEST = Path(r'C:\Users\dkerr\Documents\GISRede\OXFORD_UNI_WORK\ICS_Analysis\src\dashboard\api\tests\test_data').resolve()

In [45]:
ics = pd.read_csv(BASE_CSVS.joinpath("ICS_DATABASE_TABLE.csv"))
ics = ics.sample(frac=1).reset_index(drop=True)
ics_ids = ics.ics_id.tolist()[0:99]
ids = ics.id.tolist()[0:99]
ukprns = ics.ukprn.tolist()[0:99]
ics = ics[ics.ics_id.isin(ics_ids)]
ics.to_csv(BASE_TEST.joinpath("ICS_DATABASE_TABLE.csv"), index=False)

In [46]:
df_country = pd.read_csv(BASE_CSVS.joinpath("ICS_TO_COUNTRY_LOOKUP_TABLE.csv"))
df_country = df_country[df_country.ics_table_id.isin(ids)]
df_country.to_csv(BASE_TEST.joinpath("ICS_TO_COUNTRY_LOOKUP_TABLE.csv"), index=False)

In [47]:
df_funders = pd.read_csv(BASE_CSVS.joinpath("ICS_TO_FUNDERS_LOOKUP_TABLE.csv"))
df_funders = df_funders[df_funders.ics_table_id.isin(ids)]
df_funders.to_csv(BASE_TEST.joinpath("ICS_TO_FUNDERS_LOOKUP_TABLE.csv"), index=False)

In [48]:
df_inst = pd.read_csv(BASE_CSVS.joinpath("INSTITUTES.csv"))
df_inst = df_inst[df_inst.ukprn.isin(ukprns)]
df_inst.to_csv(BASE_TEST.joinpath('INSTITUES.csv'), index=False)

In [49]:
df_topic_groups = pd.read_csv(BASE_CSVS.joinpath("TOPIC_GROUPS_TABLE.csv"))
df_topic_groups.to_csv(BASE_TEST.joinpath("TOPIC_GROUPS_TABLE.csv"), index=False)

In [50]:
df_weights = pd.read_csv(BASE_CSVS.joinpath("TOPIC_WEIGHTS_TABLE.csv"))
df_weights = df_weights[df_weights.ics_id.isin(ics_ids)]
df_weights.to_csv(BASE_TEST.joinpath("TOPIC_WEIGHTS_TABLE.csv"), index=False)

In [51]:
df_topics = pd.read_csv(BASE_CSVS.joinpath("TOPICS_TABLE.csv"))
df_topics.to_csv(BASE_TEST.joinpath("TOPICS_TABLE.csv"), index=False)

In [52]:
df_uoa = pd.read_csv(BASE_CSVS.joinpath("UOA_TABLE.csv"))
df_uoa.to_csv(BASE_TEST.joinpath("UOA_TABLE.csv"), index=False)

In [54]:
df = pd.read_csv(BASE_TEST.joinpath("WEBSITE_TEXT.csv"))
df

,Unnamed: 0,id,all_topics_description,about,instructions,team,contact,label_info_box,label_top_left_box,label_bottom_left_box,label_top_right_box,label_bottom_right_box,uk_map_colourramp,global_colourramp,funders_bar_colour
0,0,0,This is the all topics description holder text,This is the text describing project,<h1> These are instructions </h1> 1. This is <...,Any text about the team. If this becomes more ...,Please contact the admin at ics@dashboard.com,Topic Description,Funders,UOA,Institutions,Beneficiaries,"['#fff5f0', '#fff5f0', '#fee0d2', '#fcbba1', '...","['#f7fbff', '#e9f2f9', '#deebf7', '#c6dbef', '...",#9ecae1

In [9]:
df_map = {}
for i in BASE_TEST.iterdir():
    df_map[i.stem] = pd.read_csv(i)
print(df_map.keys())

dict_keys(['ICS_DATABASE_TABLE', 'ICS_TO_COUNTRY_LOOKUP_TABLE', 'ICS_TO_FUNDERS_LOOKUP_TABLE', 'INSTITUES', 'TOPICS_TABLE', 'TOPIC_GROUPS_TABLE', 'TOPIC_WEIGHTS_TABLE', 'UOA_TABLE', 'WEBSITE_TEXT'])

In [27]:
df_topic_weights = df_map["TOPIC_WEIGHTS_TABLE"][["ics_id", "topic_id", "probability"]]
df_topics = df_map["TOPICS_TABLE"][["topic_id", "topic_name"]]
df_ics = df_map["ICS_DATABASE_TABLE"][["id", "ukprn"]]
display(df_ics)
#df_uoa = df_map["UOA_TABLE"]
#df_funder = df_map["ICS_TO_FUNDERS_LOOKUP_TABLE"]


merged_df = df_topic_weights.merge(df_topics, on='topic_id', how='inner')
#merged_df = merged_df.merge(df_ics, left_on='ics_id', right_on='ics_id', how='inner')
#merged_df = merged_df.merge(df_uoa, left_on='uoa', right_on='uoa_id', how='inner')
#merged_df = merged_df.merge(df_funder, left_on='ics_id', right_on='ics_table_id', how='inner')

merged_df

,id,ukprn,institution_name,main_panel,unit_of_assessment_number,unit_of_assessment_name,multiple_submission_letter,multiple_submission_name,joint_submission,ics_id,...,references_to_the_research,details_of_the_impact,sources_to_corroborate_the_impact,covid_statement,uoa,countries_iso3,inst_postcode,inst_postcode_district,postcode,ics_url
0,1816,10005553,Royal Holloway and Bedford New College,D,27,English Language and Literature,NaN,NaN,NaN,e6e93304-328f-4101-87db-1168a40650ad,...,\n### 3. References to the research \n\n **R1...,\n### 4. Details of the impact \n\n \[text re...,\n### 5. Sources to corroborate the impact \n...,NaN,27,[],TW20 0EX,TW20,TW,https://results2021.ref.ac.uk/impact/e6e93304-...
1,2430,10003957,Liverpool John Moores University,C,17,Business and Management Studies,NaN,NaN,NaN,293ec2b8-2965-4e71-80ff-8463c62075b8,...,\n### 3. References to the research \n\n1. B...,\n### 4. Details of the impact \n\n Efficienc...,\n### 5. Sources to corroborate the impact \n...,NaN,17,"['DNK', 'BRA', 'BEL', 'ITA', 'USA', 'GBR']",L3 5AH,L3,L,https://results2021.ref.ac.uk/impact/293ec2b8-...
2,5483,10000824,Bournemouth University,C,24,"Sport and Exercise Sciences, Leisure and Tourism",NaN,NaN,NaN,50d8da49-35a0-4f61-a389-c55a0c74217a,...,\n### 3. References to the research \(indicat...,\n### 4. Details of the impact \(indicative m...,\n### 5. Sources to corroborate the impact \(...,NaN,24,['GBR'],BH12 5BB,BH12,BH,https://results2021.ref.ac.uk/impact/50d8da49-...
3,4628,10007794,University of Glasgow,C,18,Law,NaN,NaN,NaN,87c0f089-6b77-45f0-97c5-d2b10f553928,...,\n### 3. References to the research \n\n **\[...,\n### 4. Details of the impact \n\n **4.1. Sh...,\n### 5. Sources to corroborate the impact \n...,NaN,18,"['GBR', 'IRL', 'CAN', 'AUS']",G12 8QQ,G12,G,https://results2021.ref.ac.uk/impact/87c0f089-...
4,1923,10007138,"University of Northampton, The",C,17,Business and Management Studies,NaN,NaN,NaN,ea77b289-8464-4040-93ca-04a638261376,...,\n### 3. References to the research \n\n **\[...,\n### 4. Details of the impact \n\n There has...,\n### 5. Sources to corroborate the impact \n...,NaN,17,['CHN'],NN1 5PH,NN1,NN,https://results2021.ref.ac.uk/impact/ea77b289-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,4084,10007157,The University of Sheffield,A,5,Biological Sciences,NaN,NaN,NaN,e885fcb6-0986-4644-9e29-2bd76d3645e9,...,\n **3. References to the research** \(indicat...,\n **4. Details of the impact** \(indicative m...,\n **5. Sources to corroborate the impact** \(...,NaN,5,[],S10 2TN,S10,S,https://results2021.ref.ac.uk/impact/e885fcb6-...
95,3465,10007163,The University of Warwick,C,23,Education,NaN,NaN,NaN,66da66e4-a9a0-40e8-b948-b5d22c4464b0,...,\n### 3. References to the research \(indicat...,\n### 4. Details of the impact \(indicative m...,\n### 5. Sources to corroborate the impact \(...,NaN,23,"['GBR', 'AUT', 'BEL', 'CZE', 'DNK', 'EST', 'FI...",CV4 7AL,CV4,CV,https://results2021.ref.ac.uk/impact/66da66e4-...
96,1309,10006842,The University of Liverpool,C,17,Business and Management Studies,NaN,NaN,NaN,a2b61e92-1149-4434-8545-c65c45782e9f,...,\n### 3. References to the research \n\n Refe...,\n### 4. Details of the impact \n\n### Impac...,\n### 5. Sources to corroborate the impact \n...,NaN,17,"['GBR', 'USA']",L69 7ZX,L69,L,https://results2021.ref.ac.uk/impact/a2b61e92-...
97,1519,10007795,The University of Leeds,A,6,"Agriculture, Food and Veterinary Sciences",NaN,NaN,NaN,e5b6be56-8ba0-475c-b344-f12f8b13d3a8,...,\n### 3. References to the research \(indicat...,\n### 4. Details of the impact \(indicative m...,\n### 5. Sources to corroborate the impact \(...,NaN,6,[],LS2 9JT,LS2,LS,https://results2021.ref.ac.uk/impact/e5b6be56-...
98,6104,10007155,University of Portsmouth,B,12,Engineering,NaN,NaN,NaN,cc0c7778-a51f-4287-90a2-5dfbdd9e768f,...,\n### 3. References to the research \n\n \(R1...,\n### 4. Details of the impact \n\n **Introdu...,\n### 5. Sources to corroborate the impact \n...,NaN,12,"['GBR', 'KWT']",PO1 2UP,PO1,PO,https://results2021.ref.ac.uk/impact/cc0c7778-...

,ics_id,topic_id,probability,topic_name
0,202dff7f-067b-452e-8f8d-8d398a51a568,0,5.988614e-03,Sports Health
1,248bc292-dcca-4496-bbea-62d402638430,0,3.905782e-03,Sports Health
2,0791d3dc-aa9b-4db3-978a-a3d4904a8edc,0,4.983326e-03,Sports Health
3,cc0f16bf-c7ea-46dd-9233-c91eb6460b8e,0,2.204575e-38,Sports Health
4,c6afc181-7846-43cc-859c-50d19df87467,0,3.853815e-03,Sports Health
...,...,...,...,...
5650,ed4ad743-9e37-4d4e-98ff-31b1ed0356dd,86,5.752819e-02,Death & Bereavement
5651,a3d9b932-e22d-4422-a782-59daa31cb9f5,86,1.234950e-39,Death & Bereavement
5652,94f7c7f1-120c-4885-8e39-155bb4fe28fa,86,7.783773e-02,Death & Bereavement
5653,6b2dcea3-7085-4eb8-8ed1-204a7abd6fa4,86,3.194869e-02,Death & Bereavement
5654,326665ac-cfd0-4641-8132-f3674f184e3a,86,9.010690e-02,Death & Bereavement