In [1]:
from pathlib import Path
import pandas as pd
from typing import Union

ICS_CSV = r"C:\Users\dkerr\Documents\GISRede\OXFORD_UNI_WORK\ICS_Analysis\src\dashboard\api\app\data\db-data\ICS_DATABASE_TABLE.csv"
FUNDERS_TABLE = r'C:\Users\dkerr\Documents\GISRede\OXFORD_UNI_WORK\ICS_Analysis\data\dashboard\funders.csv'
LOOKUP_CSV = 'LOOKUP.csv'
FUNDERS_CSV = 'FUNDERS.csv'
df_ics = pd.read_csv(ICS_CSV)
df_funders = pd.read_csv(FUNDERS_TABLE)
df_funders = df_funders[['REF impact case study identifier', 'Funders[full name]']]
df_funders.rename(columns={"REF impact case study identifier": 'ics_id', 'Funders[full name]': 'funder'}, inplace=True)
df_funders.dropna(subset='ics_id', inplace=True)
df_ics = df_ics[['id', 'ics_id']]
df_ics.set_index('ics_id', inplace=True)
df_funders.set_index('ics_id', inplace=True)
display(df_ics.head(2))
display(df_funders.head(2))

                                      id
ics_id
1e6e075e-d5f5-421c-bb45-2708636b5190   0
73be8e7c-907e-4e5b-8a8b-953b4d394c1b   1

                                                                                 funder
ics_id
1e6e075e-d5f5-421c-bb45-2708636b5190  European Union [EU]; Economic and Social Resea...
73be8e7c-907e-4e5b-8a8b-953b4d394c1b  Innovate UK [GBR]; Biotechnology and Biologica...

In [34]:
import numpy as np
df_join = df_funders.join(df_ics)
def transform_funders(row):
    if str(row.funder) == '':
        return np.nan
    elif str(row.funder) != 'nan':
        ls = [x.lstrip().rstrip() for x in row.funder.split(';')]
        return ls
    return np.nan
df_join['funders_list'] = df_join.apply(transform_funders, axis=1)
df_join.reset_index(inplace=True)
df_join = df_join[['id', 'funders_list']]
df_lookup = df_join.explode('funders_list')
df_lookup.rename(columns={'id': 'ics_table_id', 'funders_list': 'funder'}, inplace=True)
df_lookup = df_lookup.dropna()
df_lookup = df_lookup[df_lookup.funder != '']
df_lookup['id'] = df_lookup.reset_index().index.copy().astype(int)
df_lookup.sort_values(by='funder')

      ics_table_id              funder     id
4047          4047     10) Innovate UK   7618
4047          4047           11) EPSRC   7619
4047          4047      12) CST Global   7620
4047          4047     13) Innovate UK   7621
4047          4047      14) CST Global   7623
...            ...                 ...    ...
6348          6348  Zuhlke Engineering  11914
159            159       grid.420736.4    293
653            653                risQ   1254
4192          4192              Ørsted   7946
4038          4038              Ørsted   7601

[11937 rows x 3 columns]

In [36]:
[] is None

False

In [35]:
print(len(df_lookup.funder.unique()))
df_lookup = df_lookup.drop_duplicates(subset='funder')
display(df_lookup)
df_lookup.sort_values(by='funder', inplace=True)

3372

      ics_table_id                                             funder     id
0                0                                European Union [EU]      0
0                0         Economic and Social Research Council [GBR]      1
0                0         Arts and Humanities Research Council [GBR]      2
0                0  Engineering and Physical Sciences Research Cou...      3
0                0                                Nuffield Foundation      4
...            ...                                                ...    ...
6353          6353                                 Children's Society  11920
6353          6353                                            Inquest  11922
6355          6355     National Strength and Conditioning Association  11926
6358          6358                             Barcelona City Council  11928
6360          6360      Leona M and Harry B Helmsley Charitable Trust  11934

[3372 rows x 3 columns]

In [26]:
display(df_lookup)
for index, row in df_lookup.iterrows():
    print(row.funder)
    print(type(row.funder))
    print(row.funder is None)
    print(row.funder == '')
    break

      ics_table_id                        funder     id
663            663                                 1282
4047          4047               10) Innovate UK   7619
4047          4047                     11) EPSRC   7620
4047          4047                12) CST Global   7621
4047          4047               13) Innovate UK   7622
...            ...                           ...    ...
959            959  Zoological Society of London   1763
6348          6348            Zuhlke Engineering  11915
159            159                 grid.420736.4    293
653            653                          risQ   1254
4038          4038                        Ørsted   7602

[3373 rows x 3 columns]

<class 'str'>
False
True